@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
}
/*HEADER*/

.header-container{
    height: 100vh;
    max-width: 100vw;
    background-color: #d19eff;
    background-image: url(../img/header.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 200px ;
    position: relative;
}

.dados h1{
    font-size: 50px;
    text-transform: uppercase;
}
.dados h2{
    text-transform: uppercase;
}

.social-media{
    margin-top: 1rem;
    display: flex;
}
.social-media a{
    text-decoration: none;
    color: #1e1e1e;
    padding: 1rem 4rem;
    border: 1px solid #1e1e1e;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}
a:hover{
    background-color: #ffffff;
}

/*MENU HAMBURGUER*/

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: #1e1e1e;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top:26px;
    transform: rotate(0)
}
.checkbox .trace:nth-child(2){
    top:46px;
    transform: rotate(0)
}.checkbox .trace:nth-child(3){
    top:66px;
    transform: rotate(0)
}

#toggle{
    display: none;
}

/*MENU*/

.menu{
    position:absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-itens ul{
    list-style-type: none;
}

.menu-itens ul li a{
    margin: 10px 0;
    color: #1e1e1e;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;
    background-color: transparent;
    display:flex ;
    align-items: center;
    justify-content: center;
}



/*ANIMAÇÃO MENU*/

#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top:47px;
}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top:48px;
}

#toggle:checked + .checkbox {
    background-color: #ffffff;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax #ffffff;
    z-index: 1;
}

#toggle:checked ~ .menu-itens{
    visibility: visible;
    opacity: 1;
}

/*COMPETENCIAS*/

.competencias{
    padding: 10px;
    border: 1px solid #ffffff;
    max-width: 70%;
    margin-left: 12rem;
    background-color: #d19eff;
    margin-bottom: 3%;
}

.linguagens{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;

}
/*CARDS*/

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card-container a{
    text-decoration: none;
}
.card1{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/restaurante.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1e1e1e;
    cursor: pointer;
    transform: 0.5s ease-in-out;
}
.card2{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/quizfriends.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1e1e1e;
    cursor: pointer;
    transform: 0.5s ease-in-out;
}

.card3{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/formcontato.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1e1e1e;
    cursor: pointer;
    transform: 0.5s ease-in-out;
}

.card-text{
    width: 40%;
    color: #1e1e1e;
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p{
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.card1:hover{
    filter: unset;
}
.card1:hover > .card-wrapper::before{
    height: 250px;
    width: 250px;
    opacity: 1;
}
.card1:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
    color: #1e1e1e;
}

.card2:hover{
    filter: unset;
}
.card2:hover > .card-wrapper::before{
    height: 250px;
    width: 250px;
    opacity: 1;
}
.card2:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
    color: #1e1e1e;
}

.card3:hover{
    filter: unset;
}
.card3:hover > .card-wrapper::before{
    height: 250px;
    width: 250px;
    opacity: 1;
}
.card3:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
    color: #1e1e1e;
}
/*FOOTER*/

.footer{
    max-width: 100%;
    height: auto;
    background-color: #d19eff;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: #1e1e1e;
    padding: 3%;
}
.contatos{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.contatos a{  
   padding: 0 15px;
   text-decoration: none;
   color: #1e1e1e;
   background-color: #d19eff;
}
@media screen and (max-width:768px) {
    /*HEADER*/

    .header-container{
        background-image: url(../img/header\ mobile.png);
        background-size: 60%;
        background-position:top ;
        display: flex;
        flex-direction:column;
        justify-content: center;
        padding: 0 ;
        max-height: auto;
    }
    
  .dados{
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      line-height: 3px;

  }
    .dados h1{
        font-size: 30px;
        margin-top: 80%;
        padding: 10px;
        display: flex;
        flex-direction: center;
        align-items: center;
        justify-content: center;
    }
  
    .dados h2{
        font-size: 20px;
        padding:  30px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    /*MIDIAS SOCIAIS*/

    .social-media{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25%;
        margin: 3%;
        margin-bottom: 50px;
    }
  
    .competencias{
        padding: 10px;
        border: 1px solid #ffffff;
        max-width: 90%;
        background-color: #d19eff;
        margin: auto;
        display: flex;
        flex-direction: center;
        align-items: center;
        justify-content: center;
    }
    
    .linguagens{
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        text-transform: uppercase;

        
    }
    /*CARDS*/
    
    .card-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    
    .card1{
        width: 200px;
        height: 200px;   
    }
    .card2{
        width: 200px;
        height: 200px;   
    }  
    .card3{
        width: 200px;
        height: 200px;   
    }
    .card-text{
        width: 40%;
        color: #1e1e1e;
    }
    .card-wrapper h2{
        font-size: 25px;
    }
    .contatos{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
    }
    .contatos a{  
       padding: 0 15px;
       text-decoration: none;
       color: #1e1e1e;
       background-color: #d19eff;
       line-height: 25px;
    }
}                          

